{% extends "base.html.twig" %}
{% block body %}
    {{ include('micro-post/raw-post.html.twig',{'post':post}) }}
    {% set isLiked = post.likedby.contains(app.user) %}
    <div class="pt-2">
        <button style="display: {% if not isLiked %}block{% else %}none{% endif %}"
                class="btn btn-outline-secondary btn-sm" id="like">Like
            <span class="badge badge-light" id="likes-like">{{ post.likedby.count }}</span>
        </button>
        <button style="display: {% if  isLiked %}block{% else %}none{% endif %}"
                class="btn btn-outline-danger btn-sm" id="unlike">UnLike
            <span class="badge badge-light" id="likes-unlike">{{ post.likedby.count }}</span>
        </button>


    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var LikeButton = document.getElementById('like');
        var UnlikeButton = document.getElementById('unlike');
        addOnClick(LikeButton, UnlikeButton, document.getElementById('likes-unlike'), '{{ path('likes_like',{'id':post.id}) }}');
        addOnClick(UnlikeButton, LikeButton, document.getElementById('likes-like'), '{{ path('likes_unlike',{'id':post.id}) }}');

        function switchButtons(button, oppositebutton) {
            button.disabled = false;
            button.style.display = 'none';
            oppositebutton.style.display = 'block';

        }

        function addOnClick(button, oppositebutton, likeCount, path) {
            button.addEventListener('click', function (event) {
                {% if not app.user %}
                return window.location.replace('{{ path('security_login') }}');
                {% endif %}

                button.disabled = true;
                fetch(path, {'credentials': 'include'}).then(function (response) {
                    response.json().then(function (json) {
                        likeCount.innerText = json.count;
                        switchButtons(button, oppositebutton);

                    })

                }).catch(function () {
                    switchButtons(button, oppositebutton);

                });
                event.preventDefault();
            });

        }

    </script>
{% endblock %}