{% extends 'base.html.twig' %}
{% block title %}{{posts.title  }} {% endblock %}
{% block body %}
    <p>ID{{ id }}</p>
    <h3>{{ posts.title|upper }}</h3>
    <p>{{ posts.text }}</p>
    <p>{{ posts.date|date('H:i:s')}}</p>
    <p>{{ 560|price }}</p>
 Here is the current locale{{ locale }}
    <p>Env:{{ app.environment }}</p>
    <p>User:{{ app.user }}</p>
    <p>{{ app.session.isStarted() }}</p>
{% endblock %}


